{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <ul class='nav nav-pills mb-3 centering d-flex justify-content-between' id='pills-tab' role='tablist'>
        <li class='nav-item switch'>
            <a class='nav-link active centering btn btn-outline-secondary' id='pills-receive-tab' data-toggle='pill'
                href='#pills-receive' role='tab' aria-controls='pills-receive' aria-selected='true'>Receive</a>
        </li>
        <li class='nav-item switch'>
            <a class='nav-link centering btn btn-outline-secondary' id='pills-transfer-tab' data-toggle='pill'
                href='#pills-transfer' role='tab' aria-controls='pills-transfer' aria-selected='false'>Transfer</a>
        </li>
        <li class='nav-item switch'>
            <a class='nav-link centering btn btn-outline-secondary' id='pills-pay-tab' data-toggle='pill' href='#pills-pay'
                role='tab' aria-controls='pills-pay' aria-selected='false'>Pay</a>
        </li>
    </ul>
    <div class='tab-content' id='pills-tabContent'>
        <form class='tab-pane fade show active' id='pills-receive' role='tabpanel' aria-labelledby='pills-receive-tab' method="POST">
            {% csrf_token %}
            <div class='form-group'>
                <label for='receive_date_input'>Since When?</label>
                <input class='form-control datepicker' name='receive_date_input' id='receive_date_input' type='text'
                    style='text-align: center;' readonly>
            </div>
            <div class='form-group'>
                <label for='receive_l1'>From Who?</label>
                <select class='combobox input-large form-control' name='receive_l1' id='receive_l1'>
                    <option value selected>Who give you money?</option>
                    {% for receive in receives %}
                        <option value='{{ receive.l1 }}'>{{ receive.l1 }}</option>
                    {% endfor %}
                </select>
                <input type='hidden' name='receive_l1_hidden' id='receive_l1_hidden' value>
            </div>
            <div class='form-group'>
                <label for='receive_accts'>To Which?</label>
                <select class='input-large form-control' name='receive_accts' id='receive_accts' required>
                    <option value disabled selected>Which account?</option>
                    {% for acct in accts %}
                        {% for detail in acct.details %}
                            <option value='{{ detail.name }}'>{{ detail.name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class='form-group'>
                <label for='receive_l2'>For What?</label>
                <select class='combobox input-large form-control' name='receive_l2' id='receive_l2'>
                    <option value selected>Purpose of the money?</option>
                </select>
                <input type='hidden' name='receive_l2_hidden' id='receive_l2_hidden' value>
            </div>
            <div class='form-group'>
                <label for='receive_amount_atm'>How Much?</label>
                <div class='row mx-0'>
                    <p class='col-form-label pr-3'>RM</p>
                    <input class='atm form-control col' name='receive_amount_atm' id='receive_amount_atm' type='number'
                        pattern='[0-9]*' step='0.01' placeholder='0.00' style='text-align: right;' required>
                </div>
            </div>
            <footer class='d-flex justify-content-between'>
                <button class='btn btn-outline-secondary switch'><a href='{% url "home" %}'
                        style='color:inherit'>Cancel</a></button>
                <button class='btn btn-outline-secondary switch active' name="receive_btn" id="receive_btn" type='submit'>Receive</button>
            </footer>
        </form>
        <form class='tab-pane fade' id='pills-transfer' role='tabpanel' aria-labelledby='pills-transfer-tab' method="POST">
            {% csrf_token %}
            <div class='form-group'>
                <label for='transfer_date_input'>Since When?</label>
                <input class='form-control datepicker' name='transfer_date_input' id='transfer_date_input' type='text'
                    style='text-align: center;' readonly>
            </div>
            <div class='form-group'>
                <label for='transfer_from_accts'>From Which?</label>
                <select class='input-large form-control' name='transfer_from_accts' id='transfer_from_accts' required>
                    <option value disabled selected>Which account?</option>
                    {% for acct in accts %}
                        {% for detail in acct.details %}
                            <option value='{{ detail.name }}'>{{ detail.name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class='form-group'>
                <label for='transfer_to_accts'>To Which?</label>
                <select class='input-large form-control' name='transfer_to_accts' id='transfer_to_accts' required>
                    <option value disabled selected>Which account?</option>
                    {% for acct in accts %}
                        {% for detail in acct.details %}
                            <option value='{{ detail.name }}'>{{ detail.name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class='form-group'>
                <label for='transfer_amount_atm'>How Much?</label>
                <div class='row mx-0'>
                    <p class='col-form-label pr-3'>RM</p>
                    <input class='atm form-control col' name='transfer_amount_atm' id='transfer_amount_atm' type='number'
                        pattern='[0-9]*' step='0.01' placeholder='0.00' style='text-align: right;' required>
                </div>
            </div>
            <footer class='d-flex justify-content-between'>
                <button class='btn btn-outline-secondary switch'><a href='{% url "home" %}'
                        style='color:inherit'>Cancel</a></button>
                <button class='btn btn-outline-secondary switch active' name="transfer_btn" id="transfer_btn" type='submit'>Transfer</button>
            </footer>
        </form>
        <form class='tab-pane fade' id='pills-pay' role='tabpanel' aria-labelledby='pills-pay-tab' method="POST">
            {% csrf_token %}
            <div class='form-group'>
                <label for='pay_date_input'>Since When?</label>
                <input class='form-control datepicker' name='pay_date_input' id='pay_date_input' type='text'
                    style='text-align: center;' readonly>
            </div>
            <div class='form-group'>
                <label for='pay_accts'>From Which?</label>
                <select class='input-large form-control' name='pay_accts' id='pay_accts' required>
                    <option value disabled selected>Which account?</option>
                    {% for acct in accts %}
                        {% for detail in acct.details %}
                            <option value='{{ detail.name }}'>{{ detail.name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class='form-group'>
                <label for='pay_l1'>Category</label>
                <select class='combobox input-large form-control' name='pay_l1' id='pay_l1'>
                    <option value selected>Which Category?</option>
                    {% for pay in pays %}
                        <option value='{{ pay.l1 }}'>{{ pay.l1 }}</option>
                    {% endfor %}
                </select>
                <input type='hidden' name='pay_l1_hidden' id='pay_l1_hidden' value>
            </div>
            <div class='form-group'>
                <label for='pay_l2'>Subcategory</label>
                <select class='combobox input-large form-control' name='pay_l2' id='pay_l2'>
                    <option value selected>Detail?</option>
                </select>
                <input type='hidden' name='pay_l2_hidden' id='pay_l2_hidden' value>
            </div>
            <div class='form-group'>
                <label for='pay_amount_atm'>How Much?</label>
                <div class='row mx-0'>
                    <p class='col-form-label pr-3'>RM</p>
                    <input class='atm form-control col' name='pay_amount_atm' id='pay_amount_atm' type='number'
                        pattern='[0-9]*' step='0.01' placeholder='0.00' style='text-align: right;' required>
                </div>
            </div>
            <footer class='d-flex justify-content-between'>
                <button class='btn btn-outline-secondary switch'><a href='{% url "home" %}'
                        style='color:inherit'>Cancel</a></button>
                <button class='btn btn-outline-secondary switch active' name="pay_btn" id="pay_btn" type='submit'>Pay</button>
            </footer>
        </form>
    </div>
{% endblock content %}

{% block script %}
    <link rel='stylesheet' type='text/css'
        href='{% static "bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "bootstrap-combobox/css/bootstrap-combobox.css" %}'>
    <script src='{% static "bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js" %}'></script>
    <script src='{% static "bootstrap-datepicker-1.9.0-dist/js/fix.js" %}'></script>
    <script src='{% static "bootstrap-combobox/js/bootstrap-combobox.js" %}'></script>
    <script src='{% static "atm-input/atm-input.js" %}'></script>
    {{ receives|json_script:'receives' }}
    {{ pays|json_script:'pays' }}
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd M yyyy',
                weekStart: 1,
                daysOfWeekHighlighted: '0,6',
                autoclose: true,
                todayHighlight: true
            });
            $('.datepicker').datepicker('update', new Date());
            $('.combobox').combobox({
                renderLimit: '5',
                appendId: '_input',
                clearIfNoMatch: false,
            });
            // Avoid bootstrap combobox setAttribute bug when user first click #receive_l2_input without choosing #receive_l1 or input #receive_l1_input by typing
            $('#receive_l2_input').siblings('.input-group-append').prop('disabled', true);
            $('#pay_l2_input').siblings('.input-group-append').prop('disabled', true);
        });
        var receives = JSON.parse(document.getElementById('receives').textContent);
        $('#receive_l1').on('change', function () {
            $('#receive_l2').find('option:not(:first)').remove();
            var l1_val = $(this).val();
            var l2_val = $('#receive_l2_input').val();
            if (l1_val == '') {
                if (l2_val != '') {
                    $('#receive_l2_input').siblings('.input-group-append').children('.dropdown-toggle').click();
                }
                $('#receive_l2_input').siblings('.input-group-append').prop('disabled', true);
            } else {
                $('#receive_l2_input').siblings('.input-group-append').prop('disabled', false);
                for (i = 0; i < receives.length; i++) {
                    if (receives[i]['l1'] == l1_val) {
                        for (j = 0; j < receives[i]['l2'].length; j++) {
                            $('#receive_l2').append($('<option>', {
                                value: receives[i]['l2'][j],
                                text: receives[i]['l2'][j],
                            }));
                        }
                    }
                }
            }
            $('#receive_l2').data('combobox').refresh();
        });
        var pays = JSON.parse(document.getElementById('pays').textContent);
        $('#pay_l1').on('change', function () {
            $('#pay_l2').find('option:not(:first)').remove();
            var l1_val = $(this).val();
            var l2_val = $('#pay_l2_input').val();
            if (l1_val == '') {
                if (l2_val != '') {
                    $('#pay_l2_input').siblings('.input-group-append').children('.dropdown-toggle').click();
                }
                $('#pay_l2_input').siblings('.input-group-append').prop('disabled', true);
            } else {
                $('#pay_l2_input').siblings('.input-group-append').prop('disabled', false);
                for (i = 0; i < pays.length; i++) {
                    if (pays[i]['l1'] == l1_val) {
                        for (j = 0; j < pays[i]['l2'].length; j++) {
                            $('#pay_l2').append($('<option>', {
                                value: pays[i]['l2'][j],
                                text: pays[i]['l2'][j],
                            }));
                        }
                    }
                }
            }
            $('#pay_l2').data('combobox').refresh();
        });
        $('#transfer_from_accts').on('change', function() {
            $('#transfer_to_accts').find('option:not(:first)').prop('disabled', false);
            var from = $(this).val();
            $('#transfer_to_accts option').filter(function(){
                return this.value == from;
            }).prop("disabled", true);
        })
        $('#transfer_to_accts').on('change', function() {
            $('#transfer_from_accts').find('option:not(:first)').prop('disabled', false);
            var from = $(this).val();
            $('#transfer_from_accts option').filter(function(){
                return this.value == from;
            }).prop("disabled", true);
        })
        $('#receive_btn').on('click', function(e){
            if($('#receive_l1_input').val() == "") {
                e.preventDefault();
                $('#receive_l1_input').addClass('is-invalid');
            } else {
                $('#receive_l1_input').removeClass('is-invalid');
            }
            if($('#receive_l2_input').val() == "") {
                e.preventDefault();
                $('#receive_l2_input').addClass('is-invalid');
            } else {
                $('#receive_l2_input').removeClass('is-invalid');
            }
        })
        $('#pay_btn').on('click', function(e){
            if($('#pay_l1_input').val() == "") {
                e.preventDefault();
                $('#pay_l1_input').addClass('is-invalid');
            } else {
                $('#pay_l1_input').removeClass('is-invalid');
            }
            if($('#pay_l2_input').val() == "") {
                e.preventDefault();
                $('#pay_l2_input').addClass('is-invalid');
            } else {
                $('#pay_l2_input').removeClass('is-invalid');
            }
        })
        $('#pills-receive').on('submit', function() {
            $('#receive_l1_hidden').val($('#receive_l1_input').val());
            $('#receive_l2_hidden').val($('#receive_l2_input').val());
        });
        $('#pills-pay').on('submit', function() {
            $('#pay_l1_hidden').val($('#pay_l1_input').val());
            $('#pay_l2_hidden').val($('#pay_l2_input').val());
        });
    </script>
{% endblock script %}